.goods-item {
  border-bottom: 1px solid @table-border-color;
}

.goods-item__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;

  a {
    order: 1;
  }
}

.goods-item__description {
  order: 4;
  width: 100%;
}

.goods-item__counter-and-price-wrapper {
  order: 2;
  margin-left: 45px;
  display: flex;
  flex-direction: column;
}

.goods-item__counter {
  order: 2;
  margin-top: auto;
}

.goods-item__price {
  order: 1;
}

.goods-item__toolbar {
  order: 3;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
